.swiper-container {
  width: 100%;
  height: 400px;
}

.swiper-button-prev, .swiper-button-next {
  color: white;
}

.movie-description {
  background-color: rgba(0, 0, 0, 0.7);
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.5), rgb(0,0,0));
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.5), rgb(0,0,0));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  bottom: 0;
  padding-top: 30px;
  padding: 5px 30px;
  position: absolute;
  width: 100%;

}
